.places{
    max-width: 82.90%;
    margin: 0 auto;
    margin-bottom: 92px;
}


@media (max-width:1024px){
    .places{
        max-width: 90.81%;
    }
}

@media (max-width:768px){
    .places{
        max-width: 94%;
        margin-bottom: 90px; 
    }
}

@media (max-width:320px){
    .places{
        max-width: 100%;
        margin-bottom: 61px;
    }
}