.cover__subtitle{
    max-width: 360px;
    font-size: 18px;
    line-height: 1.22;
    margin: 0px;
    padding: 0px;
}

@media (max-width: 425px){
    .cover__subtitle{
        max-width: 288px;
        font-size: 14px;
        line-height: 1.14;
    }
}