.header{
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 56px;
}

@media screen and (max-width: 1024px){
    .header{
       margin-bottom: 48px;
       max-width: 90.81%;
    }
}

@media (max-width:768px){
    .header{
        max-width: 94%;
    }
}