/*.intro__container{
    display: flex;
    height: auto;
    flex-direction: column;
    justify-content: center;
    max-width: 690px;
}

@media (max-width: 768px){
    .intro__container{
        margin: 0 auto;
        max-width: 720px;
    }
}
@media (max-width: 320px){
    .intro__container{
        margin: 0 auto;
        max-width: 288px;
    }
}
*/