.lead__title{
    font-weight: 900;
    font-size: 96px;
    line-height: 1.04;
    max-width: 720px;
    margin: 0px;
    padding: 0px;
}

@media (max-width: 1024px){
    .lead__title{
        max-width: 720px;
    }
}

@media (max-width: 700px){
    .lead__title{
        font-size: 57px;
    }
}
@media (max-width:400px){
    .lead__title{
        max-width: 288px;
        font-size: 40px;
        line-height: 1.10;
    }
}