.intro{
    display: flex;
    margin-top: 92px;
    margin-bottom: 92px;
    display: flex;
    height: auto;
    flex-direction: column;
    justify-content: center;
    max-width: 690px;
}

@media (max-width: 1024px){
    .intro{
        margin-bottom: 88px;
    }
}

@media (max-width: 768px){
    .intro{
        margin: 0 auto;
        margin-bottom: 88px;
        margin-top: 88px;
        max-width: 720px;
    }
}
@media (max-width: 320px){
    .intro{
        margin-top: 64px;
        margin-bottom: 64px;
        max-width: 288px;
    }
}