.website__url-heading{
    margin: 0px;
    margin-bottom: 12px;
    color: #AAAAAA;
    letter-spacing: 0.2em;
    font-size: 12px;
    line-height: 1.7;
    text-transform: uppercase;
}

@media (max-width:768px){
    .website__url-heading{
        line-height: 1;
    }
}