.lead__subtitle{
    max-width: 640px;
    font-size: 30px;
    line-height: 1.2;
    margin-top: 32px;
    margin-bottom: 64px;
    padding: 0px;
}

@media (max-width: 1024px){
    .lead__subtitle{
        font-size: 31px;
        margin-bottom: 56px;
    }
}

@media (max-width:320px){
    .lead__subtitle{
        max-width: 288px;
        font-size: 16px;
        line-height: 1.25;
        margin-top: 16px;
        margin-bottom: 40px;
    }
}