.footer__nav{
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

@media (max-width:1024px){
    .footer__nav{
        max-width: 90.81%;
    }
}

@media (max-width:768px){
    .footer__nav{
        max-width: 94%;
    }
}

@media (max-width: 425px){
    .footer__nav{
        max-width: 58.50%;
        margin: 0;
    }
}