.cover__title{
    max-width: 560px;
    font-weight: 900;
    font-size: 72px;
    line-height: 1.05;
    margin: 0px;
    margin-bottom: 32px;
}

@media (max-width:700px){
    .cover__title{
        font-size: 57px;
        line-height: 1.09;
    }
}
@media (max-width:400px){
    .cover__title{
        max-width: 288px;
        font-size: 32px;
        line-height: 1.09;
    }
}

@media (max-width:320px){
    .cover__title{
        margin-bottom: 16px;
    }
}