.place__website{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-end;
    max-width: 100%;
    grid-area: url;
}

@media (max-width:713px){
    .place__website{
        display: none;
    }
}
